/* BODY */

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin: 0;
	padding: 0;
	letter-spacing: 0.9px;
	font-size: 18px;
	color: white;
}

.allcontentcontainer {
	width: 90%;
	margin:20px auto;
}

/* DROP SHADOWS */

.mainnav, .musicsidenav, .songdiv, .submitbutton, .addSectionContainer, #addSongButton {
	box-shadow: 0px 5px 9px -2px rgba(50, 50, 50, 0.75);
}

/* TOP NAV BAR */

.mainnav {
	background-color: #535f7c;
	width: 100%;
}

.mainnavul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	height: 50px;
}

.mainnavul li a {
	margin: auto 20px;
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

.maincontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.musicsidenav {
	width: 20%;
	height: 350px;
	margin-right: 10px;
	background-color: #537c62;
	border-radius: 5px;

}

#songdisplaydiv {
	width: calc(80% - 15px);
	height: 350px;
}

/* LEFT NAV BAR */

.checkboxcontainer {
	display: flex;
	flex-flow: row;
	font-size: 0.7em;
}

.checkboxcolumn {
	width: 50%;
	background-color: #6ba07e;
	padding: 5px 0 5px 5px;
	margin-bottom: 3px;
}

.musicsideform label {
	margin: 5px 0 5px 10px;
	display: block;
}

.musicsideform select {
	margin: 0 15px;
	width: calc(100% - 30px);
	font-size: .8em;
}

#songlength {
	margin: 0 15px;
	width: calc(100% - 30px);
}

.submitbutton {

	width: 65%;
	padding:2px 5px; 
    background:#7c5377;
    border-radius: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:white;
    text-align: center;
    font-size: 1.1em;
}

.submitbuttondiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin: auto;
}

/* RIGHT DISPLAY BOX */

#songdisplaydiv {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.songdiv {
	width: calc(100% - 30px);
	border-radius: 5px;
	margin: 5px 5px 5px 25px;
	padding: 5px 0 5px 10px;
	box-sizing: border-box;
	background-color:#7c5377;
	color: white;
}

.songnameheader {
	display: block;
	font-size: 1.2em;
}

p.songproperties {
	display: inline-block;
	margin: 0;
	font-size: 0.8em;
}

.songdiv:first-child {
	margin-top: 0;
}

.songdiv:last-child {
	margin-bottom: 0;
}

/* ADD SONG DISPLAY */

input[type="text"] {
  padding: 10px 10px 10px 20px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background-color: #7c5377;
  width: 350px;
  border-radius: 5px;
  font-size: 1em;
  color: white;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px lightgrey;
}

.addViewImg {
	display: inline-block;
}

#addSongButton {
	width: 65%;
	padding:2px 5px;
	margin: 10px auto;
    background:#537c62; 
    border-radius: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:white;
    text-align: center;
    font-size: 1.1em;
}

/* VIEW CONTROL */

.visible {
  display: flex;
}

.hidden {
  display: none;
}

#view-section {

}

#add-section {
	width: 100%;
}

.addSectionContainer {
	display: block;
	margin: auto;
	background-color: #7c5377;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: white;
	border-radius: 5px;
}
